<table class="pure-table pure-table-not-bordered" align="center" >
  <tr>
    <td></td>
    <% if current_user.try(:admin?) %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= link_to "#{article.title}", article, :"data-no-turbolink" => true, :class => "article_title_list"  %></td>
    <% if current_user.try(:admin?) %>
      <td><%= link_to "Edit", edit_article_path(article), :"data-no-turbolink" => true  %></td>
      <td><%= link_to "Delete", article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <tr>
    <td>Created: <%= article.created_at %></td>
    <% if current_user.try(:admin?) %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>
