<div class="container">

  <div class="col2-12">
  </div>

  <div class="col8-12">

    <table class="pure-table pure-table-not-bordered" align="center" >
      <tr>
        <td></td>
        <% if current_user.try(:admin?) %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
      <% @articles.each do |article| %>
      <tr>
        <td><%= link_to "#{article.title}", article, :"data-no-turbolink" => true, :class => "article_title_list"  %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to "Edit", edit_article_path(article), :"data-no-turbolink" => true, :class => "edit_delete_link" %></td>
          <td><%= link_to "Delete", article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "edit_delete_link" %></td>
        <% end %>
      </tr>
      <tr>
        <td>Created: <%= article.created_at %></td>
        <% if current_user.try(:admin?) %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </table>

  </div>

  <div class="col2-12">
  </div>
  
</div>