<div class="container"  >
  <div class="col12-12 portfolio-header">
    <i  class="fa fa-keyboard-o fa-4x" style="color: white; margin-top: 200px"></i>
    <h1 style="font-size: 3em"><strong>LOOKING FOR A GREAT TEAM PLAYER?</strong></h1>
    <h2 style="font-size: 2em;color: white;">HIRE ME</h2>
    <a href="#main"><i class="fa fa-arrow-circle-down fa-3x"></i></a>
    <p>SCROLL DOWN</p>
  </div>      
</div>


<div id="main" class="container" style="margin-top: 10px; padding-top: 30px" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center"><strong>Your developers team needs experienced and multitasking player</strong></h2>

  </div>
  <div class="col2-12"></div>      
</div>


<div class="container" style="margin-top: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-laptop fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col1-12" align="center"><i class="fa fa-camera fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col2-12"></div>
</div>

<div class="container" style="margin-top: 40px" style="margin-bottom: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-coffee fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col1-12" align="center"><i class="fa fa-calculator fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col2-12"></div>
</div>

<div class="container" style="margin-top: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-bug fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col1-12" align="center"><i class="fa fa-code fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col2-12"></div>
</div>

<div id="sheet" class="radio" style="background-color: #262626">
<div class="container timesheet-layout" >
  <div class="col2-12"></div>
    <div class="col8-12 timesheet-title">
      <h2 align="center"><strong>Timesheet</strong></h2>
      <div id="timesheet">

                          <script align="center" type="text/javascript">
                          new Timesheet('timesheet', 2010, 2015, [
                            ['2010','2011', 'AGH Univeristy of Science and Technology', 'lorem'],
                            ['06/2011', '10/2012','Test Engineer, Motorola Solutions','dolor'],
                            ['10/2012', '10/2013','Software Enigneer in Test Automation, Motorola Solutions','default'],
                            ['10/2013', '2015', 'Software Developer, Motorola Solutions', 'ipsum']                          
                          ]);</script>

      </div>  
    </div>
  <div class="col2-12"></div>
</div>



<div class="container" style="margin-top: 20px;">
  <div class="col2-12"></div>
  <div class="col8-12">
    <table style="color: white" width="100%" align="center">
    <tr>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(244, 207, 48, 1); text-align: center"><i class="fa fa-circle-o-notch fa-4x" ></i></h2>
      </td>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(252, 70, 74, 1); text-align: center"><i class="fa fa-circle-o-notch fa-4x" ></i></h2></td>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(60, 182, 227, 1); text-align: center"><i class="fa fa-circle-o-notch fa-4x" ></i></h2></td>      
    </tr>
    <tr>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Test Engineer</h2><hr width="15%"></td>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Software Enigneer in Test Automation</h2><hr width="15%"></td>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Software Developer</h2><hr width="15%"></td>  
    </tr>
    <tr>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>Ipsum sapien elementum portitor?</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel et velit aliquam diam ante</li>
        <li><i class="fa-li fa fa-check-square"></i>aliquet sit amet vulputate</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel velit lorem</li>
      </ul></td>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>Ipsum sapien elementum portitor?</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel et velit aliquam diam ante</li>
        <li><i class="fa-li fa fa-check-square"></i>aliquet sit amet vulputate</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel velit lorem</li>
      </ul></td>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>Ipsum sapien elementum portitor?</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel et velit aliquam diam ante</li>
        <li><i class="fa-li fa fa-check-square"></i>aliquet sit amet vulputate</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel velit lorem</li>
      </ul></td>
    </tr>
        </table>
  </div>
  <div class="col2-12"></div>
</div>


<div class="container " style="margin-top: 20px; padding-bottom: 0px" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center" style="color: white"><strong>Charts area</strong></h2>

  </div>
  <div class="col2-12"></div>     
</div>


<div class="container" style="margin-top: 0px; margin-bottom: 20px;" >

<div class="col2-12"></div>
<div class="col4-12" style="margin-top: 0px;">

 

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"> 

    google.load('visualization','1.1',{'packages': ["corechart"]});

    google.setOnLoadCallback (createChart);

        function createChart() {
          var dataTable = google.visualization.arrayToDataTable([
            ['Language', 'Level'],
            ['C', 4],
            ['Python',2.5],
            ['Ruby',3],
            ['CSS',2],
            ['HTML',3],
            ['Javascript',1]
            ]);

        var dataTable2 = google.visualization.arrayToDataTable([
            ['', 'Count'],
            ['Teams', 3],
            ['Projects',8],
            ['Awards',2],
            ]);

          

          var chart = new google.visualization.BarChart(document.getElementById('chart'));
          var chart2 = new google.visualization.ColumnChart(document.getElementById('chart2'));
          var options = {width: 450, height: 350, title: 'Language skills', titleTextStyle: {fontSize: "18", color: "white"}, titlePosition: "out",
                   fontName: 'PT Sans', fontSize: 18, legend: "none", tooltip: {trigger: 'focus'}, backgroundColor: '#262626',
                   hAxis: {maxValue: 5, minValue: 0, baselineColor: "white", textStyle: {color: "white"}, gridlines: {count: 3}},
                   vAxis: {baselineColor: "white", textStyle: {color: "white"}}, colors: ['#4BC435'],

          };
          
          chart.draw(dataTable,options);
          chart2.draw(dataTable2,options);

                // google.visualization.events.addListener(chart, 'onmouseover', showDetails);
                // google.visualization.events.addListener(chart, 'onmouseout', hideDetails);

        }

      // function showDetails(e){
      //     switch(e['row']) {
      //       case 0: document.getElementById('details0').style.visibility='visible';
      //       break;
      //       case 1: document.getElementById('details1').style.visibility='visible';
      //       break;
      //       case 2: document.getElementById('details2').style.visibility='visible';
      //       break;
      //       case 3: document.getElementById('details3').style.visibility='visible';
      //       break;
      //       case 4: document.getElementById('details4').style.visibility='visible';
      //       break;
      //       case 5: document.getElementById('details5').style.visibility='visible';
      //       break;

      //     }
      // }

      // function hideDetails(e){
      //     switch(e['row']) {
      //       case 0: document.getElementById('details0').style.visibility='hidden';
      //       break;
      //       case 1: document.getElementById('details1').style.visibility='hidden';
      //       break;
      //       case 2: document.getElementById('details2').style.visibility='hidden';
      //       break;
      //       case 3: document.getElementById('details3').style.visibility='hidden';
      //       break;
      //       case 4: document.getElementById('details4').style.visibility='hidden';
      //       break;
      //       case 5: document.getElementById('details5').style.visibility='hidden';
      //       break;

      //     }
      // }
        

    </script>
<div id="chart"></div>


</div>
<div class="col4-12" style="margin-top: 0px;"><div id="chart2"></div></div>
<div class="col2-12"></div>
</div>