<div class="container" >
  <div class="col12-12 portfolio-header">  
    <h1><strong>LOOKING FOR A GREAT TEAM PLAYER?</strong></h1>
    <h3>HIRE ME</h3>
  </div>      
</div>

<div class="container" >
  <div class="col12-12">  
    <h2 align="center"><strong>Your developers team need experienced and multitasking player</strong></h2>
  </div>      
</div>

<div class="container">
  <div class="col3-12"><i class="fa fa-tachometer"></i></div>
  <div class="col3-12"></div>
  <div class="col3-12"></div>
  <div class="col3-12"></div>
</div>